@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;600&family=Tilt+Neon&display=swap');

* {
    font-family: 'Gabarito', sans-serif;
}

a {
    font-family: 'Tilt Neon', sans-serif;
}

#portada {
    background-image: url('img/universe-4717740_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#portada nav {
    color:white;
}
#menu {
    width: 50px;
    height: 50px;
    
}

.oculto{
    display: none;
    visibility: hidden;
}
.vidible {
    display: inherit;
    visibility: visible;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

nav ul li {
    flex:0 0 auto;
    height: 50px;
    width: 100%;
    text-align: center;
    position: relative;
    border-bottom: thin solid white;
}

nav ul li:first-child {
    border-top: thin solid white;
}

#portada a {
    text-decoration: none;
    color:white;
    display: block;
    width: 100%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

/* Configuración para moviles pequeños */
@media (min-width: 360px) {
    body {
      background-color: lightblue;
    }
}

/* Configuracióin para tabletas */
@media (min-width: 720px) {
    nav ul {
        flex-direction: row;
    }
    nav ul li {
        flex:1 1 100%;
        width: auto;
        height: auto;
        position:static;
        text-align: center; 
        margin:10px;
        padding:0px;
        border-bottom: none;
        border-top: none;
    }
    
    #portada a {
        text-decoration: none;
        color:white;
        display: block;
        width: 100%;
        height: 100%;
        position: static;
        transform: translateY(0);
        border: thin solid white;
        border-radius: 20px;
    }
}

/* Configuración para ordenadores medianos */
@media (min-width: 1366px) {
    nav ul {
        justify-content: center;
    }
    nav ul li {
        flex:0 1 150px;
       
    }
    
    #portada a {
        text-decoration: none;
        color:white;
        display: block;
        width: 100%;
        height: 100%;
        position: static;
        transform: translateY(0);
    }
}

/* Configuración para ordenadores grandes */
@media (min-width: 1920px) {
    body {
      background-color: lightblue;
    }
}