@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;600&family=Tilt+Neon&display=swap');

* {
    font-family: 'Gabarito', sans-serif;
}

body {
    margin:0;
}

a {
    font-family: 'Tilt Neon', sans-serif;
}

#portada {
    background-image: url('img/universe-4717740_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#portada nav {
    color:white;
    margin: 1.5em;
}
#bomenu {
    background-color: #0000;
    width: 50px;
    height: 50px;
    border: thin solid white;
    border-radius: 10px;
    cursor: pointer;
}

.line {
    fill: none;
    stroke: white;
    stroke-width: 4;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 4;
}
.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 4;
}
.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 4;
}

.oculto{
    display: none;
    visibility: hidden;
}

#menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    background-color: #0f1458;
    position: absolute;
    width: calc(100% - 3em);
    
}

#menu li {
    flex:0 0 auto;
    height: 50px;
    width: 100%;
    text-align: center;
    position: relative;
    border-bottom: thick solid #fff7b6;
}

#menu li:first-child {
    border-top: thick solid #fff7b6;
}

#portada a {
    text-decoration: none;
    color:#fff7b6;
    font-size: 26px;
    display: block;
    width: 100%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

/* Configuración para moviles pequeños */
@media (min-width: 360px) {
    body {
      background-color: lightblue;
    }
}

/* Configuracióin para tabletas */
@media (min-width: 720px) {
    #bomenu {
        display: none;
        visibility: hidden;
    }
    #menu {
        flex-direction: row;
        background-color: inherit;
    }
    #menu li {
        flex:1 1 100%;
        width: auto;
        height: auto;
        position:static;
        text-align: center; 
        margin:10px;
        padding:0px;
        border-bottom: none;
        border-top: none;
    }

    #menu li:first-child {
        border-top: none;
    }
    
    #portada a {
        text-decoration: none;
        color:white;
        display: block;
        width: 100%;
        height: 100%;
        position: static;
        transform: translateY(0);
        border: thin solid white;
        border-radius: 20px;
    }
}

/* Configuración para ordenadores medianos */
@media (min-width: 1366px) {
    nav ul {
        justify-content: center;
    }
    nav ul li {
        flex:0 1 150px;
       
    }
    
    #portada a {
        text-decoration: none;
        color:white;
        display: block;
        width: 100%;
        height: 100%;
        position: static;
        transform: translateY(0);
    }
}

/* Configuración para ordenadores grandes */
@media (min-width: 1920px) {
    body {
      background-color: lightblue;
    }
}